* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	width: 100%;
}

div.top {
	background-color: black;
	height: 7em;
	color: white;
}

div.content {
	overflow-y:auto;
	position: fixed;
	top: 56px;
	left:0;
	right:0;
	bottom: 2em;
	background-color: whitesmoke;
	color: black;
}

div.left{
	float: left;
	border-right:2px solid whitesmoke
}

div.right{
	float: left;
}

div.right{

}

div.between {
    margin: 0 auto;
	width: 50%;
	background-color: white;
	color: black;
}

div.bottom {
	position: fixed;
	bottom: 0;
	background-color: #c0c0c0;
	width:100%;
	height: 2em;
	color: black;
}

audio{
	style color: red;
	display:block;
	width:50%;
    margin: 0 auto;
}

